@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
body {
  overflow-y: scroll;
  font-family: "Nanum Gothic", sans-serif;
}
.height70 {
  min-height: 70vh;
}

h1 {
  font-size: 200%;
  font-weight: bolder;
}
a {
  color: steelblue;
  text-decoration: none;
}
a:hover {
  color: dodgerblue;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-left {
  text-align: left;
}
.text-warning {
  color: darkred;
}

.navbar-brand,
.nav-link {
  font-weight: 600;
}
