<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <style>
      body {
        text-align: center;
      }
      .vertical-center {
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-height: 60vh;
      }
      .text-darkgreen {
        color: darkgreen;
      }
      .text-darkred {
        color: darkred;
      }
      .margin-padding-1px {
        padding: 1px;
        margin: 1px;
      }
    </style>

  </head>
  <body>
    {% block body %}
  <div class="vertical-center">
    {% comment %} {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} {% endcomment %}

    {% comment %} <div>
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div> {% endcomment %}
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </div>
  </body>
</html>
