{% extends 'accounts/password_reset_base.html' %} {% load extra_tags %} {% block
password_reset %} {% if validlink %}

<div class="col-md-9 col-lg-6 my-5 mx-auto">
  <h1 align="center">비밀번호 재설정</h1>
  <hr />
  <p align="center">새로운 비밀번호를 입력하여 주세요.</p>
  <p align="center">
    이메일을 포함된 암호화된 링크를 클릭하면 비밀번호를 재설정할 수 있습니다.
  </p>
</div>

<div class="vertical-center row mx-1 mb-5">
  <div class="col-sm-9 col-md-7 col-lg-6 col-xl-5 mx-auto">
    <div class="card">
      <div class="card-body">
        <div class="login-content mt-3">
          <form method="post">
            {% csrf_token %}
            <div class="my-3">
              {% for field in form %}
              <div class="form-group">
                <label
                  >{% cycle '새로운 비밀번호' '새로운 비밀번호 확인' %}</label
                >
                {{ field|addclass:'form-control' }}

                <ul
                  class="form-errors"
                  style="padding-left: 1.5em; color: red; font-size: 90%"
                >
                  {% for error in field.errors %}
                  <li class="card-text">{{ error }}</li>
                  {% endfor %}
                </ul>
              </div>
              {% endfor %}
            </div>

            <div class="form-group pt-4">
              <input
                class="btn btn-success btn-block btn-lg"
                type="submit"
                value="비밀번호 변경"
              />
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="col-md-9 col-lg-6 my-5 mx-auto">
  <h1 align="center">유효하지 않은 링크</h1>
  <hr />
  <p align="center">해당 링크는 유효하지 않습니다.</p>
  <p align="center">이는 한 번 사용되었던 링크일 가능성이 높습니다.</p>
  <p align="center">
    비밀번호 변경을 위해서는 다시 비밀번호 재설정을 의뢰하십시오.
  </p>
</div>

<div class="col-12 my-5 mx-auto text-center">
  <a class="btn btn-secondary btn-lg" href="{% url 'accounts:login' %}"
    >로그인 페이지로</a
  >
</div>

{% endif %} {% endblock %}
