{% extends 'accounts/password_reset_base.html' %} {% load extra_tags %} {% block
password_reset %}

<div class="col-md-9 col-lg-6 my-5 mx-auto">
  <h1 align="center">비밀번호 초기화</h1>
  <hr />
  <p align="center">
    가입시 등록한 메일로 비밀번호 초기화를 위한 링크를 보내드립니다.
  </p>
  <p align="center">
    이메일을 확인 후 해당 링크를 클릭하면 비밀번호를 재설정할 수 있습니다.
  </p>
</div>

<div class="vertical-center row mx-1 mb-5">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card">
      <div class="card-body">
        <div class="login-content mt-3">
          <form method="post">
            {% csrf_token %} {% for field in form %}
            <div class="form-group">
              <label>{{ field.label }}</label>
              {{ field|addclass:'form-control' }} {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
              <ul
                class="form-errors"
                style="padding-left: 1.5em; color: red; font-size: 90%"
              >
                {% for error in field.errors %}
                <li class="card-text">{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endfor %}

            <div class="form-row">
              <div class="form-group col-md-6 mb-0 mt-4">
                <input
                  class="btn btn-primary btn-block btn-lg"
                  type="submit"
                  value="메일 보내기"
                />
              </div>
              <div class="form-group col-md-6 mb-0 mt-3 mt-md-4">
                <a
                  class="btn btn-secondary btn-block btn-lg"
                  href="{% url 'accounts:login' %}"
                  >이전 페이지</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
